html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'roboto', sans-serif;
}

body *{
    box-sizing: border-box;
}

header,
header nav{
    width: 100%;
}

header nav{
    position: fixed;
    background-color: #000000;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0, .5);
    z-index: 5;
}

header nav, 
header nav ul, 
header nav ul > li {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-content: space-around;
}

header nav ul{
    list-style-type: none;
}

header nav ul > li{
    position: relative;
}

header nav ul > li:hover ul{
    top: 100%
}

header nav ul li a,
header nav ul li a:visited{
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Road Rage', 'cursive';
    font-family: 'Rubik', sans-serif;
}

header nav ul li a:hover{
    color: #4c19c4;
}

header nav ul > li> ul {
    position: absolute;
    top: -300%;
    left: 0;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 0.5rem 0.3rem 0 rgba(255, 255, 255, 0.2);
    transition: top .5s ease;
    z-index: -1;
}

header nav ul > li > ul > li > a{
    width: 100%;
    background-color: #fefefe;
    border-bottom: 1px solid rgb(255, 255, 255);
    white-space: nowrap;
}

body div  {
    display: flex;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3.0rem;
    background-color: #000000;
    border-top: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0, .5);
    z-index: 5;
    clear: both;
    overflow:hidden;
    
    
}

.instagram{
    display: inline-block;
    vertical-align: middle;
    width: 76px;
    height: 76px;
    position: absolute;
    right: 0%;
    margin-top: -4.4%;
    
   
}

.facebook {
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    position: absolute;
    right: 4%;
    margin-top: -4%;
    
   
}

body div 
{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

body div iframe
{
    padding: 120px;
}

p {
   line-height: 20px;
   text-align: center;
}

.text1 > p {
    
    padding-bottom: 7rem;
    font-family: 'Road Rage', 'cursive';
    font-family: 'Rubik', sans-serif;
    font-size: larger;
    color: #fefefe;
}





   button {
    display: inline-block;
    height: 134px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 104px;
}

#close-image img {
    display: block;
    height: 130px;  
    width: 100px;
}

body {
    background-image: url("695451.jpg");
    background-color: #cccccc;
   }


   .logo {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1%;
    margin-top: 10px;
   
}

  .lijst {
    color: rgb(255, 255, 255);
    background-color: #e0d1d100;
    margin-top:-180px;
    background-size: 50% auto;
    width: 80%;
  
  }

   .text3 > p {
    color: rgb(255, 255, 255);
    width:150%;
    padding-left:900px;
    font-family: 'Road Rage', 'cursive';
    font-family: 'Rubik', sans-serif;
}


.box1 {
    width: 500px;
    height: 500px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    position: relative;
    top:200px;
    left: 100px;
  }
  
  #image1 {

    width: 400px;  
    height:150px;  
    top: 50%;
    margin-top: 255px;
    left: 20px;
 }


 .box2 {
    width: 500px;
    height: 500px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    position: absolute;
    top: -5px;
    left: 700px;
  }

  p{
      color: #fefefe;
  }

  h2{
      color: lightgray;
  }

  div#masthead,
   div#masthead div.slider-item,
   div#masthead div.slider-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40vh;
    overflow: hidden;

   }

   div#masthead {
       position: relative;
   }

   div#masthead div.slider-item {
       display: flex;
       left: 100%;
       padding: 10vh 10vw;
       justify-content: center;
       align-items: center;
       transition: left .8s ease;
       z-index: 1;

   }

   div#masthead div.slider-item.top { align-items: flex-start; }
   div#masthead div.slider-item.bottom { align-items: flex-end; }
   div#masthead div.slider-item.left { justify-content: flex-start; }
   div#masthead div.slider-item.right { justify-content: flex-end; }

   div#masthead div.slider-item.active { left: 0; z-index: 2; }
   div#masthead div.slider-item.sliding { left: -100%; }

   div#masthead div.slider-item img {
       object-fit: cover;
       object-position: 0 60%;
       z-index: 1
   }

   div#masthead div.slider-item div.slider-content {
       position: relative;
       width: 30rem;
       padding: 0 1.5rem;
       background-color: rgba(69, 29, 143, 0.452);
       z-index: 2;
   }

   div#masthead div.slider-item div.slider-content h2 {
    text-align: justify;

   }

   span{
       color:lightgray;
   }

  